* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(img/bg1.png)
}

/*здесь описаны стили для хедера*/
#block_header {
	width: 100%;
	margin: 0% auto;
	height: auto;
}

header {
	width: 100%;
	height: 80px;
	background-color: black;
}

.logotipe {
	width: 80px;
	height: 80px;
	float: left;
}

.logotipe img {
	width: 80px;
	height: 80px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.logo {
	width: 35%;
	height: 80px;
	float: left;
}

.logo p {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	color: white;
}

.logo a {
	display: block;
	margin-left: 15px;
	margin-top: 15px;
	font-family: "Georgia", sans-serif;
	font-size: 28px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.logo a:hover {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}

.city {
	width: 15%;
	height: 80px;
	float: left;
	text-align: center;
}

.city p {
	display: block;
	margin-left: 0px;
	margin-top: 25px;
	font-family: "Georgia", sans-serif;
}

.city a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.empty {
	width: 30%;
	height: 80px;
	float: left;
}

.city a:hover {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}

.block_auth {
	width: 12%;
	height: 80px;
	float: left;
}

.block_auth p{
	margin-top: 12px;
	margin-bottom: 8px;
	text-align: center;
}

.block_auth a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.block_auth a:hover {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}
/*здесь описаны стили для основной области с картой*/
.block_map {
	width: 100%;
	margin: 0% auto;
	height: 748px;
}

/*Здесь описаны стили для футера*/
#block_footer {
	width: 100%;
	margin: 0% auto;
	height: auto;
}

footer {
	width: 100%;
	height: 80px;
	background-color: black;
}

.info {
	width: 20%;
	height: 80px;
	float: left;
	text-align: center;
}

.info a {
	display: block;
	margin-top: 25px;
	font-family: "Georgia", sans-serif;
	font-size: 18px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.info a:hover {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}

.support {
	width: 60%;
	height: 80px;
	float: left;
	text-align: center;
}

.support p {
	margin-top: 18px;
	margin-bottom: 5px;
	font-size: 11px;
	color: white;
}

.support a {
	display: block;
	margin-top: 25px;
	font-family: "Georgia", sans-serif;
	font-size: 18px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.support a:hover {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}

.faq {
	width: 20%;
	height: 80px;
	float: left;
	text-align: center;
}

.faq a {
	display: block;
	margin-top: 25px;
	font-family: "Georgia", sans-serif;
	font-size: 18px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.faq a:hover {
	transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	color: #00ADE4;
}

.block_support {
	width: 70%;
	margin: 0% auto;
	height: 748px;
	background-color: #EEEEEE;
}

.block_faq {
	width: 70%;
	margin: 0% auto;
	height: 748px;
	background-color: #EEEEEE;
}

.block_about {
	width: 70%;
	margin: 0% auto;
	height: 748px;
	background-color: #EEEEEE;
}

.block_about h1 {
	text-align: center;
	margin-bottom: 30px;
	font-family: "Georgia", sans-serif;
	font-size: 30px;
	color: black;
}

.block_about p {
	text-indent: 25px;
}